* {
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: normal;
}

.box {
    width: 430px;
    height: 448px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.box h2 {
    color: #828282;
    font: 600 16px Roboto;
    padding: 28px 165px 4px 45px;
}

.box h1 {
    color: #0B1354;
    letter-spacing: -1.5px;
    font: 500 40px Roboto;
    padding: 4px 145px 4px 45px;
}

.box p {
    border-bottom: 2px solid #ECECEC;
    font: 400 14px Roboto;
    padding: 4px 165px 27px 45px;
}

.flexblock {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: -300px;
}

.img-1 {
    background-image: url(./Group\ 2280.png);
    width: 278.6px;
    height: 278.6px;
    background-size: contain;
    background-repeat: no-repeat;
}

.block {
    display: flex;
    flex-direction: row;
    width: 91px;
    justify-content: space-between;
    margin-top: 29px;
}

.rectangle {
    margin-top: 3px;
}

.text p {
    color: #4F4F4F;
    font: 400 12px Inter;
    margin-bottom: 8px;
}

.pt1,
.pt2,
.pt3 {
    width: 21px;
    height: 8px;
    margin-bottom: 16px;
}

.pt1 {
    background-color: #165BAA;
}

.pt2 {
    background-color: #F765A3;
}

.pt3 {
    background-color: #16BFD6;
}